<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h2 class="panel-title">Register!</h2>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" (submit)= "register()">
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input type="text" [(ngModel)]= "firstName" name="firstName" id="firstName" class="form-control input-sm" placeholder="First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" [(ngModel)]= "lastName" name="lastName" id="lastName" class="form-control input-sm" placeholder="Last Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" [(ngModel)]= "address1" name="address1" id="address1" class="form-control input-sm" placeholder="Address1">
			    					</div>
			    				</div><div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" [(ngModel)]= "address2" name="address2" id="address2" class="form-control input-sm" placeholder="Address2">
			    					</div>
			    				</div><div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" [(ngModel)]= "city" name="city" id="city" class="form-control input-sm" placeholder="City">
			    					</div>
			    				</div><div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" [(ngModel)]= "state" name="state" id="state" class="form-control input-sm" placeholder="State">
			    					</div>
			    				</div><div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" [(ngModel)]= "zip" name="zip" id="zip" class="form-control input-sm" placeholder="Zip">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" [(ngModel)]= "country" name="country" id="country" class="form-control input-sm" placeholder="Country">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
			    					</div>
			    				</div>
			    			</div>
			    			
			    			<input type="submit" value="Register" class="btn btn-info btn-block">
			    		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>